body {
    background-color: grey;
}

.accordion {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1px;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: none;
    border-top: 2px solid black;
    cursor: pointer;
    transition: 0.5s;
}

.accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.accordion-body {
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.accordion-body.active {
    padding: 10px;
    border-bottom: 1px solid grey;
    height: auto;
}