* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

/* https://stackoverflow.com/questions/29147806/how-can-i-set-the-image-opacity-for-body-background */
body {
    background: url("/images/fundo-5.png");
    background-repeat: repeat-y;
}

/* ---------------------------------- */
/* --------- MAIN CONTAINER --------- */
/* ---------------------------------- */
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------- */
/* -------------- MENU -------------- */
/* ---------------------------------- */



/* ---------------------------------- */
/* ------------- HEADER ------------- */
/* ---------------------------------- */
.container-header {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
/* LOGO - IMG */
.logo {
    width: 235px;
    height: 198px;
    margin: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ---------------------------------- */
/* ------------- BUTTON ------------- */
/* ---------------------------------- */
.container-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* BUTTON - HORARIO */
#horario a {
    text-decoration: none;
}
#horario a button span {
    color: white;
    font-weight: bold;
    text-align: center;
}
#horario a button {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 40px;

    margin: 10px;
    padding: 10px;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

/* ABERTO */
.social-btn-t-aberto {
    background-color: #6AE35F; 
}

/* FECHADO */
.social-btn-t-fechado {
    background-color: #B6212B; 
}

/* ---------------------------------- */
/* ---------- RESPONSIVIDADE -------- */
/* ---------------------------------- */
@media (max-width: 800px) {  
    /* BUTTON - HORARIO */
    #horario a button {
        width: 140px;
        height: 40px;
    }
}