/* ------------------------------------------- */
/* ------------- SECTION STORIES ------------- */
/* https://www.youtube.com/watch?v=tgkkHrcEFGs */
/* ------------------------------------------- */
.stories-container {
    display: flex;
   /*  background: white; */
   /*  box-shadow: 0 3px 24px -8px rgb(0, 0, 0.3); */
    width: 760px;
    margin: 40px auto 20px;
    padding: 20px 5px 10px;
    gap: 32px;
    overflow: hidden;
    overflow-x: auto;
}
/* https://codepen.io/marvink/pen/OJoMrg */
/* https://www.delftstack.com/howto/javascript/javascript-redirect-after-time/ */
/* ANCORA - redirecionar na pagina */
.stories-container .content-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Mouse hover seção produto */
.stories-container a {
    transition: all 0.1s ease-in-out;
}
.stories-container a:hover {
    transform: scale(1.1);
}

/* IMG - seção produto */
.stories-container .content-stories img {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    /* z-index: 300; */
    vertical-align: middle;
}

/* TÍTULO - seção produto */
.stories-container .content-stories span {
    text-align: center;
    font-size: 16px;
    width: 140px;
}

/* GRAB MOUSE - to drag and scroll horizontal x */
.stories-container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

/* STYLE SCROLLBAR */
::-webkit-scrollbar {
    background-color: rgb(211, 211, 211);
    height: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
}

/* 
.stories-container .content-stories::before {
    position: absolute;
    content: "";
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}
.stories-container .content-stories::after {
    position: absolute;
    content: "";
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: linear-gradient(#dd2a7b, #f58529);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
*/

/* ---------------------------------- */
/* ---------- RESPONSIVIDADE -------- */
/* ---------------------------------- */
@media (max-width: 600px){
    /* HIDDEN - scrollbar */
    .stories-container::-webkit-scrollbar {
        display: none;
    } 
    /* Hide scrollbar for IE, Edge and Firefox */
    .stories-container {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }
}

@media (max-width: 800px) {
    /* ------------------------------------------- */
    /* ------------- SECTION STORIES ------------- */
    /* ------------------------------------------- */
    .stories-container {
        width: 325px;
        gap: 32px;
        margin: 5px auto;
        padding: 20px 5px 5px;
    }

    /* IMG - seção produto */
    .stories-container .content-stories img {
        width: 80px;
        height: 80px;
    }
    
    /* TÍTULO - seção produto */
    .stories-container .content-stories span {
        text-align: center;
        font-size: 12px;
        width: 110px;
    }
}
